api:
  dashboard: {{ enable_dashboard | default(false) | lower }}

certificatesResolvers:
  http:
    acme:
      email: {{ acme_email }}
      storage: acme_letsencrypt.json
      httpChallenge:
        entryPoint: http

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ":443"

global:
  checkNewVersion: true
  sendAnonymousUsage: false

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: {{ proxy_network_name }}
  file:
    filename: "./dynamic_conf.yml"
    watch: true
  providersThrottleDuration: 10
